.app__specialMenu {
  flex-direction: column;
  background-color: var(--color-black);
}
.app__specialMenu-title {
  margin-bottom: 2rem;
  text-align: center;
}
.app__specialMenu-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.app__specialMenu-menu_wine {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  color: white;
  width: 200px;
  max-width: 500px;
}
.app__specialMenu-menu_cocktails {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  color: white;
  width: 200px;
  max-width: 500px;
}

.app__specialMenu_menu_img img {
  height: 910px;
}
.app__specialMenu_menu_heading {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04rem;
  color: var(--color-white);
}
.app__specialMenu-menu_wine,
.app__specialMenu-menu_cocktails {
  flex: 1;
  width: 100%;
  flex-direction: column;
}
.app__specialMenu-menu_img {
  margin: 2rem 4rem;
}
.app__specialMenu_menu_items {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
}
@media screen and (max-width: 2000px) {
  .app__specialMenu-menu {
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-right: 5rem;
  }
  .app__specialMenu-menu_wine {
    align-items: center;
  }
  .app__specialMenu-menu_cocktails {
    align-items: center;
  }
  .app__specialMenu_menu_img img {
    height: 1110px;
  }
}
@media screen and (max-width: 1340px) {
  .app__specialMenu-menu {
    flex-direction: column;
  }
}
@media screen and (max-width: 1150px) {
  .app__specialMenu-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .app__specialMenu_menu_img {
    width: 100%;
  }
  .app__specialMenu-menu {
    padding: 20px;
  }
  .app__specialMenu-menu_wine {
    align-items: center;
  }
  .app__specialMenu-menu_cocktails {
    align-items: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .app__specialMenu_menu_img {
    width: 100%;
  }
  .app__specialMenu-menu {
    padding: 20px;
  }
  .app__specialMenu_menu_items {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .app__specialMenu-menu_cocktails {
    align-items: center;
    margin-top: 20px;
  }
  .app__specialMenu-menu_wine {
    align-items: center;
  }
}
