.app__header {
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
  max-width: 550px;
}
.app__wrapper_info {
  display: flex;
  margin-left: 2rem;
  padding-left: 2rem;
}
.app__wrapperpaper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  max-height: 500px;
  margin-right: 2rem;
}
.app__wrapperpaper img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1088px) {
  .app__header {
    flex-direction: column;
  }
}

@media screen and (max-width: 395.4px) {
  .app__header-h1 {
    margin-left: 0.7rem;
  }
  .p__cormorant {
    margin-left: 0.7rem;
  }
  .spoon__img {
    margin-left: 0.7rem;
  }
  p {
    margin-left: 0.7rem !important;
  }
}
@media screen and (min-width: 1088px) {
  p {
    max-width: 450px;
  }
}
@media screen and (max-width: 391px) {
  .app__wrapperpaper img {
    max-width: 300px;
    max-height: 300px;
  }
}
